<main class="bg-white dark:bg-gray-900">
  <div class="relative flex">
    <!-- Content -->
    <div class="w-full md:w-1/2">
      <div class="min-h-[100dvh] h-full flex flex-col after:flex-1">
        <!-- Header -->
        <div class="flex-1">
          <div class="flex items-center justify-between h-16 px-4 sm:px-6 lg:px-8">
              <!-- Logo -->
              <%=link_to root_path do %>
                <%= image_tag 'small_logo.png',
                    class: 'fill-violet-500',
                    width: 32,
                    height: 32,
                    alt: 'Logo' %>
              <% end %>
          </div>
        </div>

        <div class="max-w-sm mx-auto w-full px-4 py-8">
          <h1 class="text-3xl text-gray-800 dark:text-gray-100 font-bold mb-6">Welcome back!</h1>
          <!-- Form -->
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="space-y-4">
              <div>
                <%= f.label :email, class: "block text-sm font-medium mb-1" %>
                <%= f.email_field :email, class: "form-input w-full", autocomplete: "email" %>
              </div>
              <div>
                <%= f.label :password, class: "block text-sm font-medium mb-1"%>
                <%= f.password_field :password, class: "form-input w-full", autocomplete: "on" %>
              </div>
            </div>
          <form>
            <div class="flex items-center justify-between mt-6">
              <div class="mr-1">
                  <%= link_to "Forgot password?", new_password_path(resource_name), class: "text-sm underline hover:no-underline" %>
              </div>
              <%= f.submit "Sign In", class: "btn bg-gray-900 text-gray-100 hover:bg-gray-800 dark:bg-gray-100 dark:text-gray-800 dark:hover:bg-white ml-3 cursor-pointer" %>
            </div>
          </form>
          <% end %>
          <!-- Footer -->
          <div class="pt-5 mt-6 border-t border-gray-100 dark:border-gray-700/60">
            <div class="text-sm">
                Don’t you have an account?
                <%= link_to "Sign up", new_registration_path(resource_name), class: "font-medium text-violet-500 hover:text-violet-600 dark:hover:text-violet-400" %>
            </div>
            <!-- Warning -->
            <div class="mt-5">
              <div class="bg-yellow-500/20 text-yellow-700 px-3 py-2 rounded-lg">
                <svg class="inline w-3 h-3 shrink-0 fill-current" viewBox="0 0 12 12">
                  <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                </svg>
                <span class="text-sm">
                  Do you have any ideas to improve the fine box, don't hesitate to contact us!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Image -->
    <div class="hidden md:block absolute top-0 bottom-0 right-0 md:w-1/2" aria-hidden="true">
      <%= image_tag 'sif_holdet.jpg',
          class: 'object-cover object-center w-full h-full',
          width: 760,
          height: 1024,
          alt: 'Authentication image' %>
    </div>
  </div>
</main>
