<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "SIF Holbæk Bødekasse" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <script>
      if (localStorage.getItem('darkMode') === 'false' || !('darkMode' in localStorage)) {
        document.querySelector('html').classList.remove('dark');
        document.querySelector('html').style.colorScheme = 'light';
      } else {
        document.querySelector('html').classList.add('dark');
        document.querySelector('html').style.colorScheme = 'dark';
      }
    </script>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_javascript_tag 'dashboard_charts' %>
  </head>

  <body class="font-inter antialiased bg-gray-100 dark:bg-gray-900 text-gray-600 dark:text-gray-400">
    <script>
      if (localStorage.getItem('sidebar-expanded') == 'true') {
          document.querySelector('body').classList.add('sidebar-expanded');
      } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
      }
    </script>
    <div class="flex h-[100dvh] overflow-hidden">
      <%= render partial:'partials/alert', locals: { message: alert } if alert %>
      <%= render partial: 'partials/notice', locals: { message: notice } if notice %>
      <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
